.news {
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  background-color: #161b22;

  & h2 {
    color: #9ae6c0;
    margin-bottom: 3rem;
    text-decoration: underline;
  }

  & img {
    border-radius: 1rem;
    max-height: 40vh;
    width: auto;
  }

  & p {
    text-align: center;
    padding: 3rem;
  }
}
